@{
    Layout = "_LayoutUsuario";
}




<div class="wrapper mb-3">




    <div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">


                    <div class="card card-primary mt-5">
                        <div class="card-header custom-navbar">
                            <h3 class="card-title text-white">Mis datos personales</h3>
                        </div>

                        <div class="card-body" id="divPrincipalUsuario">
                        </div>

                    </div>

                </div>



                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2" id="contenerPaneles">
                            <ul class="nav nav-pills flex-nowrap overflow-auto">
                                <li class="nav-item"><a class="nav-link" href="#verpedidos" data-toggle="tab">Mis Pedidos</a></li>
                                <li class="nav-item"><a class="nav-link" href="#editarcuenta" data-toggle="tab">Editar Perfil</a></li>
                                <li class="nav-item"><a class="nav-link" href="#eliminarcuenta" data-toggle="tab">Eliminar Cuenta</a></li>
                                <li class="nav-item"><a class="nav-link" href="#agregardireccion" data-toggle="tab">Agregar Direccion</a></li>
                                <li class="nav-item"><a class="nav-link" href="#modificardireccion" data-toggle="tab">Modificar Direccion</a></li>
                                <li class="nav-item"><a class="nav-link" href="#eliminardireccion" data-toggle="tab">Eliminar Direccion</a></li>
                                <li class="nav-item"><a class="nav-link" href="#verdirecciones" data-toggle="tab">Ver mis Direcciones</a></li>
                                <li class="nav-item"><a class="nav-link" href="#boletin" data-toggle="tab">Boletin de Noticias</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane" id="verpedidos">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Listado de Pedidos</h3>
                                            </div>

                                            <div class="card-body p-0 table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        @Html.AntiForgeryToken()
                                                        <tr>
                                                            <th class="text-center">
                                                                Pedido
                                                            </th>
                                                            <th class="text-center">
                                                                Fecha realizado
                                                            </th>

                                                            <th class="text-center">
                                                                Estado
                                                            </th>
                                                            <th class="text-center">
                                                                Ver Pedido
                                                            </th>

                                                            <th class="text-center">
                                                                Cancelar Pedido
                                                            </th>
                                                            <th class="text-center">
                                                                Modificar Imagen Sinpe
                                                            </th>

                                                            <th class="text-center">
                                                                Ver Factura
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="agregar">
                                                       
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>



                                </div>


                                <div class="tab-pane" id="editarcuenta">
                                    <form class="form-horizontal" id="formEditarCuenta">
                                        @Html.AntiForgeryToken()
                                        <div class="form-group row mb-3">
                                            <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label for="primerApellido" class="col-sm-2 col-form-label">Primer Apellido</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="primerApellido" placeholder="Primer Apellido">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label for="segundoApellido" class="col-sm-2 col-form-label">Segundo Apellido</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="segundoApellido" placeholder="Segundo apellido">
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label for="telefono" class="col-sm-2 col-form-label">Telefono</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="telefono" placeholder="Telefono" oninput="formatoTelefono(this)">
                                            </div>
                                        </div>


                                        <div class="form-group mb-3">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Realizar cambios</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                                <div class="tab-pane" id="eliminarcuenta">
                                    <form class="form-horizontal" id="formEliminarCuenta">
                                        @Html.AntiForgeryToken()
                                        <div class="form-group row mb-3">
                                            <label for="contraEliminar" class="col-sm-2 col-form-label"> Contraseña </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" id="contraEliminar" placeholder="****">
                                            </div>
                                        </div>


                                        <div class="form-group row mb-3">
                                            <div class="offset-sm-2 col-sm-10">
                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="agregardireccion">
                                    <form class="form-horizontal" id="formAgregarDireccion">
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <label for="nombreDireccionAgregar" class="text-black">Nombre Dirección</label>
                                            <input type="text" id="nombreDireccionAgregar" class="form-control" placeholder="Nombre Dirección">

                                        </div>

                                        <div class="form-group">
                                            <label for="provinciaAgregar" class="text-black">Provincia <span class="text-danger"></span></label>
                                            <select id="provinciaAgregar" class="form-control">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="cantonAgregar" class="text-black">Cantón <span class="text-danger"></span></label>
                                            <select id="cantonAgregar" class="form-control">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="distritoAgregar" class="text-black">Distrito <span class="text-danger"></span></label>
                                            <select id="distritoAgregar" class="form-control">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="direccionExactaAgregar" class="text-black">Dirección Exacta</label>
                                            <textarea name="direccionExactaAgregar" id="direccionExactaAgregar" cols="30" rows="5" class="form-control" placeholder="Escribe tu dirección aquí..."></textarea>

                                        </div>
                                        <div class="form-group row mt-3">
                                            <div>
                                                <button type="submit" class="btn btn-danger">Agregar Dirección</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="modificardireccion">
                                    <form class="form-horizontal" id="formModificarDireccion">
                                        @Html.AntiForgeryToken()

                                        <div class="form-group">
                                            <label for="direccionModificar" class="text-black">Dirección a modificar<span class="text-danger"></span></label>
                                            <select id="direccionModificar" class="form-control">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="nombreDireccionModificar" class="text-black">Nombre Dirección</label>
                                            <input type="text" id="nombreDireccionModificar" class="form-control" placeholder="Nombre Dirección">

                                        </div>

                                        <div class="form-group">
                                            <label for="provinciaModificar" class="text-black">Provincia <span class="text-danger"></span></label>
                                            <select id="provinciaModificar" class="form-control">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="cantonModificar" class="text-black">Cantón <span class="text-danger"></span></label>
                                            <select id="cantonModificar" class="form-control">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="distritoModificar" class="text-black">Distrito <span class="text-danger"></span></label>
                                            <select id="distritoModificar" class="form-control">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="direccionModificarAgregar" class="text-black">Dirección Exacta</label>
                                            <textarea name="direccionExactaModificar" id="direccionExactaModificar" cols="30" rows="5" class="form-control" placeholder="Escribe tu dirección aquí..."></textarea>

                                        </div>
                                        <div class="form-group row mt-3">
                                            <div>
                                                <button type="submit" class="btn btn-danger">Modificar Dirección</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="eliminardireccion">
                                    <form class="form-horizontal" id="formEliminarDireccion">
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <label for="direccionEliminar" class="text-black">Dirección a eliminar<span class="text-danger"></span></label>
                                            <select id="direccionEliminar" class="form-control">
                                            </select>
                                        </div>

                                        <div class="form-group row mt-3">
                                            <div>
                                                <button type="submit" class="btn btn-danger">Eliminar Dirección</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="verdirecciones">
                                    <div class="col-md-6">


                                        <div class="card" id="cardTabla">
                                            <div class="card-header">
                                                <h3 class="card-title">Direcciones del Usuario</h3>
                                            </div>

                                            <div class="card-body p-0 table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre</th>
                                                            <th>Provincia</th>
                                                            <th>Canton</th>
                                                            <th>Distrito</th>
                                                            <th>Dirección exacta</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tablaDirecciones">
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </div>


                                </div>
                                <div class="tab-pane" id="boletin">
                                    <h2> Opciones del Boletin de Noticias </h2>
                                    <form id="formSuscribirseBoletin">
                                        <button type="submit" class="btn btn-sm btn-danger"> Suscribirse al boletin de noticias </button>
                                    </form>

                                    <form id="formBorrarBoletin" class="mt-3">
                                        <button type="submit" class="btn btn-sm btn-danger"> Ya no quiero ser parte del boletín de noticias </button>
                                    </form>
                                </div>
                            </div>




                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>


</div>


@section Scripts {
    <script type="text/javascript" src="~/js/perfilUsuario/ver.js" asp-append-version="true"></script>

    <script type="module" src="~/js/usuario/acciones.js" asp-append-version="true"></script>

    <script type="text/javascript">
        function formatoTelefono(input) {

            var telefono = input.value.replace(/\-/g, '');

            if (telefono.length > 4) {
                telefono = telefono.substring(0, 4) + '-' + telefono.substring(4);
            }

            if (telefono.length > 9) {
                telefono = telefono.substring(0, 8);
            }

            input.value = telefono;
        }


    </script>
}




